body {
  padding: 50px;
}

.champion {
  display: block;
  float: left;
  margin: 20px 20px 20px 20px;
  width: 120px;
  height: 120px;
}

.search_bar {
  background-color: #e5e5e5;
  border: 0;
  height: 30px;
  padding-left: 5px;
  align-self: center;
}

.roles_bar {
  height: 100px;
}

.roles_checkbox {
  display: block;
  float: left;
  width: 150px;
}
