<html>
  <head>
    <meta charset="utf-8">
    <title>Champions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/scripts/Chart.js"></script>
    <script src="/scripts/search.js"></script>
    <script src="/scripts/roles_chart.js"></script>
    <script src="/scripts/popularity_chart.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
      var roles_chart = null;
      var popularity_chart = null;
      function chart(id, name) {
        modal.style.display = "block";
        var modal_champion = document.getElementById("modal_champion");
        modal_champion.innerHTML = "Statistics of " + name;
        if (roles_chart) { roles_chart.destroy(); }
        if (popularity_chart) { popularity_chart.destroy(); }
        draw_roles_chart(id);
        draw_popularity_chart(id);
      }
    </script>
  </head>
  <body>

    <h1>Champion filters</h1>
    <input type="text" class="search_bar" id="searchBar" onkeyup="search()" placeholder="Search Champions">

    <div class="roles_bar">
      <h3>Roles:</h3>
      <div class="roles_checkbox">
        <input type="checkbox" class="checkbox" id="Assassin" onchange="search()">
        <label for="Assassin">Assassin</label>
      </div>
      <div class="roles_checkbox">
        <input type="checkbox" class="checkbox" id="Fighter" onchange="search()">
        <label for="Fighter">Fighter</label>
      </div>
      <div class="roles_checkbox">
        <input type="checkbox" class="checkbox" id="Mage" onchange="search()">
        <label for="Mage">Mage</label>
      </div>
      <div class="roles_checkbox">
        <input type="checkbox" class="checkbox" id="Support" onchange="search()">
        <label for="Support">Support</label>
      </div>
      <div class="roles_checkbox">
        <input type="checkbox" class="checkbox" id="Tank" onchange="search()">
        <label for="Tank">Tank</label>
      </div>
      <div class="roles_checkbox">
        <input type="checkbox" class="checkbox" id="Marksman" onchange="search()">
        <label for="Marksman">Marksman</label>
      </div>
      <br>
    </div>


    <h1>Champion grid</h1>

    <% for (var i = 0; i < champions.length; i++) { %>
      <% var name = champions[i]['name']; %>
      <div onclick='chart(<%= champions[i]['id'] %>, "<%= champions[i]['name'] %>")' class="champion">
        <img src="img/<%= name %>Square.png">
        <center><%= name %></center>
      </div>
    <% } %>

    <div id="stats" class="modal">
      <div class="modal_content">
        <span class="close">&times;</span>
        <h1 style="text-align: center" id="modal_champion"></h1>
        <h3 style="text-align: center">Roles</h3>
        <canvas id="roles_chart"></canvas>
        <h3 style="text-align: center">Popularity History</h3>
        <canvas id="popularity_chart"></canvas>
      </div>
    </div>


    <script>
      var modal = document.getElementById('stats');
      var span = document.getElementsByClassName("close")[0];
      span.onclick = function() {
          modal.style.display = "none";
      }
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
    </script>
  </body>
</html>
